@import "libs/animate"
@import "libs/bootstrap-reboot.min"
@import "libs/fonts"
@import "libs/slick"

*
	font-family: 'Museo Sans Cyrl', sans-serif

.container
	position: relative
	margin: 0 auto
	max-width: 950px

@import "base/variables"
@import "base/mixins"
@import "base/general"
@import "base/media"
@import "blocks/header"
@import "blocks/buttons"
@import "blocks/promo"
@import "blocks/advantages"
@import "blocks/consult"
@import "blocks/forms"
@import "blocks/catalog"
@import "blocks/catalog-tabs"
@import "blocks/reviews"
@import "blocks/footer"
@import "blocks/modals"

